<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-4" style="display: none;">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">

            <button mat-raised-button color="primary" style="margin-right:1rem;" (click)="edit(element)">
                Edit
            </button>

            <button mat-raised-button color="warn" (click)="delete(element)">
                Delete
            </button>

        </td>
    </ng-container>
</table>


<hr>

<p>mat tooltip</p>
<button mat-raised-button color="primary" matTooltip="welcome to angular" matTooltipPosition="after"
    matTooltipShowDelay="2000">Click</button>
<button mat-raised-button color="primary" matTooltip="welcome to angular" matTooltipPosition="after"
    style="margin-left: 1rem;" matTooltipShowDelay="2000" (click)="opensnack('Hello, Angular!')">Snackbar</button>

<button (click)="opencustom()">
    open custom snack bar
</button>
<button (click)="success()">
    success snack bar
</button>
<button (click)="error()">
    error snack bar
</button>


<button mat-raised-button color="primary" (click)="opendialog()">open dialog</button>